<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
  <md-toolbar layout="row" id="top-bar" class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
      <md-button class="menu md-icon-button" hide-gt-md ng-click="open_tutorial()" aria-label="Mostra menu">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>

      <h2 style="font-weight: 500; font-size: 105%;" show-gt-md>Spesa pubblica in:</h2>

      <!-- TODO: input width does not adapt to content anymore -->
      <md-autocomplete
            md-floating-label="{{info.location}}"
            md-search-text="info.search_text"
            md-selected-item="info.selected_item"
            md-selected-item-change="go_to_searched()"
            md-items="item in get_matches(info.search_text)"
            md-item-text="item.display"
            style="margin-left: 10px; margin-top: 24px;">
        <md-item-template>
          <span md-highlight-text="info.search_text">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          Nessun risultato
        </md-not-found>
      </md-autocomplete>

      <span flex></span>

      <md-button hide-sm ng-click="open_tutorial()"> Guida </md-button>
      <md-button hide-sm ng-click="open_authors()"> Chi siamo </md-button>
    </div>
  </md-toolbar>

  <!-- <div id="padding-container" layout-wrap layout-padding layout-fill> -->
    <div layout="row" id="main-container" layout-gt-md="fill">
        <div flex="65" id="map" class="md-whiteframe-z2">
            <div id="map-tooltip" class="tooltip hidden_t"></div>
            <div id="map-buttons">
                <md-button class="md-fab" aria-label="Go to parent" id="reset-button" aria-label="" ng-click="go_to_parent();">
                    <i class="fa fa-arrow-up"></i>
                </md-button>
            </div>
        </div>
        <div flex id="map-controls" class="md-whiteframe-z3" hide show-gt-md>
          <div id="map-control-container" layout="column">
            <!-- <fieldset class="standard"> -->
              <section id="granularity">
              <!-- <h3>Granularità</h3> -->
              <div layout="column" layout-gt-lg="row">
                <div layout-align="center">
                  <!-- <div flex="30">
                    <span style="line-height: 35px">Granularità</span>
                  </div>
                  <div flex>
                    <div layout="column">
                      <div flex>
                        <input type="range" min="1" max="3" step="1" value="2"></input>
                      </div>
                      <div flex>
                        <div layout="row">
                          <div flex class="legend">regione</div>
                          <div flex class="legend" style="text-align: center;">provincia</div>
                          <div flex class="legend" style="text-align: right;">comune</div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div layout="row">
                    <md-button ng-class="{'md-raised': info.granularity === 1}" class="md-primary" ng-click="update_granularity(1)">Regioni</md-button>
                    <md-button ng-class="{'md-raised': info.granularity === 2}"  class="md-primary" ng-click="update_granularity(2)">Province</md-button>
                    <md-button ng-class="{'md-raised': info.granularity === 3}"  class="md-primary" ng-click="update_granularity(3)">Comuni</md-button>
                  </div>

                  <!-- <div class="btn-group">
                    <label class="btn btn-primary" ng-model="info.granularity" btn-radio="1" ng-change="update_granularity()">Regioni</label>
                    <label class="btn btn-primary" ng-model="info.granularity" btn-radio="2" ng-change="update_granularity()">Province</label>
                    <label class="btn btn-primary" ng-model="info.granularity" btn-radio="3" ng-change="update_granularity()">Comuni</label>
                  </div> -->
                </div>

                <span flex-offset="5"></span>

                <div flex>
                  <md-select style="margin: 0; margin-top: 6px;" ng-change="change_year()" ng-model="info.selected_year">
                    <!-- <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option> -->
                    <md-option value="2014">2014</md-option>
                    <md-option value="2015">2015</md-option>
                  </md-select>
                </div>
              </div>
            </section>
            <!-- </fieldset> -->

            <!-- <fieldset class="standard"> -->
            <section id="interests">
              <h3>Spesa da considerare</h3>

              <div layout="row">
                <div>
                  <md-button class="md-raised" ng-click="info.select_all()">seleziona tutte</md-button>
                </div>
                <div flex>
                  <md-switch style="margin-top: 10px;" class="md-primary" ng-model="info.multiple_selection" ng-click="info.update_map()" aria-label="Selezione multipla">
                    sel. multipla
                  </md-switch>
                </div>
              </div>

              <md-divider></md-divider>

              <div id="interest-list">
                <!-- If multiple selection is enabled -->
                <div ng-if="info.multiple_selection" flex="100" ng-repeat="cb in info.checkboxes" class="interest">
                  <md-checkbox class="md-primary" ng-model="cb.value" aria-label="{{cb.label}}" ng-click="info.toggle(cb.id)">
                    {{ cb.label }}
                  </md-checkbox>
                  <md-divider ng-if="!$last"></md-divider>
                </div>

                <!-- If multiple selection is disabled -->
                <md-radio-group ng-if="!info.multiple_selection" ng-model="info.radio_selected" class="md-primary">
                  <div flex="100" ng-repeat="cb in info.checkboxes" class="interest">
                    <md-radio-button ng-click="info.select(cb.id)" ng-value="cb.id" aria-label="{{cb.label}}">
                      {{ cb.label }}
                    </md-radio-button>
                    <md-divider ng-if="!$last"></md-divider>
                  </div>
                </md-radio-group>
              </div>
              <md-divider></md-divider>
            </section>
            <!-- </fieldset> -->
          </div>

          <h3>Ripartizione delle spese</h3>
          <div google-chart chart="chartObject" style="height:300px; width:100%;"></div>

          <div ui-view></div>
        </div>
    </div>
  <!-- </div> -->
</div>
